<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link href="/css/First-game.css" rel="stylesheet">
</head>
<body>
    <div id="score-label">Score: 0</div>
    <div id="game-container">
        <canvas id="game-canvas" width="600" height="600"></canvas>
        <div id="game-over">
            GAME OVER
            <button id="restart-button">Restart</button>
        </div>
    </div>
    <div class="controls-info">Use Arrow Keys to move the snake</div>

    <script src="/js/First-game.js"></script>
</body>
</html>